services:
  - type: web
    name: express-ts-backend
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: npm install --include=dev
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    autoDeploy: true
    branch: main
